.contact_me {
    background-color: rgb(31, 16, 24);
    color: rgb(240, 225, 235);
    &__inner {
        max-width: 90rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        margin: auto;
        background-color: rgb(41, 26, 34);
        padding: 4rem 1rem;
    }

    h1 {
        color: white;
    }

    h3 {
        color: white;
    }

    h4 {
        font-size: 1.2rem;
    }

    p {
        margin: 0 auto;
        line-height: 120%;
        color: rgb(194, 166, 181);
    }

    a {
        color: rgb(25, 115, 175);
        font-weight: bold;
    }

    .profile {
        border-radius: 50%;
        border: 1px solid black;
        width: 20rem;
        height: 20rem;
        margin: 2rem auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .grid {
        display: flex;
        flex-direction: column;
        article {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
    }


    ol {
        padding: 2rem;
        border-top: 1px solid white;
        margin: auto;
        list-style-type: disc;
        line-height: 2rem;
        text-align: start;
        font-weight: 500;
    }

    
    ul li {
        background-color: white;
        padding: 0.5rem;
        border-radius: 1rem;
        img {
            z-index: 8;
        }
    }


    @media screen and (min-width:768px ) {

        h1 {
            font-size: 4rem;
            text-align: left;
            text-decoration: underline;
        }
        
        .grid {
            flex-direction: row;
            article {
                max-width: 50rem;
            }
        }
    }

}